<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="storageConnectionString" value="BlobEndpoint=https://neeostorage.blob.core.chinacloudapi.cn/;QueueEndpoint=https://neeostorage.queue.core.chinacloudapi.cn/;TableEndpoint=https://neeostorage.table.core.chinacloudapi.cn/;AccountName=neeostorage;AccountKey=AI1bp+5dWJ85eq4UD1usNDqiCJv0flnpNZrdhLuR+f/9Dx+QTtpi9qfQAbAqrqE98r6vZczcBYc4qsakaFKCuA=="/>
    <add key="blockSizeKB" value="1024"/>
    <!--<add key="storageConnectionString" value="BlobEndpoint=http://neeo.blob.core.windows.net/;AccountName=neeo;AccountKey=g3KdvBOaEmDSSuUp5EA2oEzGg+DfVsCRI9hX9uFSZzjnGXqFzudyY80H8pf2mXrMy97BCjsern0FvN5SgH2xIA=="/>-->
  </appSettings>
</configuration>